#alarmPanel
{
    position: fixed;
    top: 25vh;
    left: 50%;
    z-index: 1;
    width: 500px;
    margin: 0px 0px 0px -250px;
    display:none;
    overflow-x: hidden;
    overflow-y: hidden;

    border-color: rgba(255, 166, 0, 1);

}

#alarmPanel .title
{
    font-size:larger;
    font-weight:bold;

    background: #e0f3f1;
    /*color: red;*/
}

#alarmPanel .button
{
    background: #e0f3f1;
}

#alarms
{
    /*width: 480px;*/
    width: 487px;
    max-height: 400px;
    padding-left: 4px;
    padding-right: 4px;
    /*padding: 4px;*/
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    /*margin: 5px;*/
    margin-bottom: 4px;
    overflow-y:auto;
    overflow-x:hidden;

}
