body
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0px;

}
.themeColor
{
    background-color: #bfdddb;
    /* background: rgb(224, 243, 241); */
}

.tableMain
{
    display: table;
}

.tableRow
{
    display: table-row;
}

.tableCell
{
    display: table-cell;
}

.bodyWrapper
{
    width: 1500px;
    /*min-height: 900px;*/
    height: 911px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
    /* top: 12px; */
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}



.mainWrapper
{
    height: 761px;
}

.mainPanelWrapper
{
    float:left;
    width: 789px;
}


.footerWrapper
{
    height: 70px;

}

.footer
{
    vertical-align: bottom;
    /* height: 70px; */
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footerLogo
{
    vertical-align: bottom;
    text-align: right;
}

.footerLogoImage
{
    padding: 10px;
}

#userMessage
{

    /* margin-top: 10px; */
    /* height: 70px; */
    /* top: -70px; */
    /* position: relative; */
    /* top:-70px; */
    /* font-size: 1.2em;
    height:70px;
    display:flex;
    color:white;
    align-items:center;
    padding-left: 20px; */
    /* position: absolute;
    margin-top: 23px;
    margin-left: 100px;
    color: white; */

    /*border: 1px solid white;*/
    /*padding: 10px;*/
    display:table-cell;
    vertical-align: middle;
    height:70px;
    /* border: 1px solid black; */
    /* height: 47px; */
    width: 300px;
    font-size: 1.2em;
    color: white;
    padding-left: 100px;
    /* margin-top: 10px; */
    /* padding-top: 23px; */
}

#versionWarning
{
    display:none;
    vertical-align: middle;
    height:70px;
    /* border: 1px solid black; */
    /* height: 47px; */
    /* padding-top: 23px; */


    /* display: none; */
    /* position: absolute;
    margin-top: 13px;
    margin-left: 475px; */
    /* width: 400px; */

    font-size: 1.2em;
    color: red;
}


.devBorder
{
    border: 1px solid black;
}

.devBl
{
    background-color: #0000FF;
}
.devRed
{
    background-color: #FF0000;
}

#systemName
{
    align-items: center;
    width: 225px;
    height: 27px;
    border: 1px solid  #fff;
    padding: 4px 0 3px 0;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size:18px;
}

#systemName:focus
{
    outline: none;
}

.card
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#overlay
{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    display:none;
    text-align:center;
}

#overlay .card, #espfOverlay .card
{
    margin-top: 33vh;
    background: #e0f3f1;
    border-radius: 2px;
    display: inline-block;
    width: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#espfOverlay
{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    display:none;
    text-align:center;
}

#espfOverlay .card
{
    margin-top:20vh;
}

.acceptRowESPF
{
    border: 2px solid #bfdddb;
    background: #e0f3f1;
    border-top: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}




input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance:textfield;
}
